site_name: Notes

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.footnote.tooltips
    - content.code.annotate
  icon:
    annotation: material/circle-medium

markdown_extensions:
  - nl2br
  - footnotes
  - attr_list
  - md_in_html
  - def_list

  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde

  # callouts
  - admonition
  - pymdownx.details

  # Latex/Katex
  - pymdownx.arithmatex:
      generic: true
  
  # syntax highlighting
  - pymdownx.highlight:
      linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
      auto_title: true
  
  # better lists
  - pymdownx.tasklist:
      custom_checkbox: true

  - pymdownx.inlinehilite
  - pymdownx.snippets

  # mermaidjs & hilighting p2
  - pymdownx.superfences:
      custom_fences:
        # prevent mermaid from being parsed
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        # prevent canvasjs from being parsed
        - name: canvasjs
          class: canvasjs
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_javascript:
  # Katex
  # - https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js
  # - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js
  # - js/katex.js
  # MathJax
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - js/mathjax.js
  # canvasjs
  - https://cdn.canvasjs.com/canvasjs.min.js
  - js/canvasjs.js
  # Mermaid
  - https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.min.js

extra_css:
  # - https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css

plugins:
  - search
  - callouts
  - offline
  - minify:
      minify_html: true
  - ezlinks:
      warn_ambiguities: true
      wikilinks: true
      reference_links: true

not_in_nav: |
  Help.md
  test.md
  Excalidraw/*
